/* Colors */
$colorBlack                     : #000;
$colorLight                     : #FFF;
$colorPrimary					: #F5D009;

$colorSecondary                 : #F2F2F2;
$colorDarker                    : #626262;
$colorMedium                    : #939393;
$colorMediumLight               : #C4C4C4;
$colorBackgroundOpacity         : #00000060;


$colorTextDark                  : $colorBlack;
$colorTextLight                 : $colorLight;
$colorTextMedium                : $colorDarker;
$colorTextMediumLight           : $colorMediumLight;
$colorTextPrimary				: $colorPrimary;

$colorIcons                     : $colorMedium;
$colorBtnPrimary				: $colorPrimary;

$colorBackgroundLight           : $colorLight;
$colorBackgroundPrimary			: $colorPrimary;
$colorBackgroundMain            : $colorSecondary;
$colorBorder                    : $colorSecondary;

$colorBoxShadow                 : $colorSecondary;


/* Sizes */
$size3XS                        : 240;
$size2XS                        : 360;
$sizeXS                         : 420;
$sizeS                          : 480;
$sizeM                          : 560;
$sizeL                          : 680;
$sizeX                          : 760;
$sizeXL                         : 860;
$size2XL                        : 960;
$size3XL                        : 1080;
$size4XL                        : 1280;
$size5XL                        : 1480;
$size6XL                        : 1660;
$size7XL                        : 1920;
