@use "/src/app/styles/variable" as *;

.overlay {
	background-color: $colorBackgroundOpacity;
	position: absolute;
	inset: 0;
	display: flex;
	flex-direction: column;
	justify-content: end;

	.modal {
		background-color: $colorBackgroundLight;
		height: 90%;
		border-radius: 10px 10px 0 0;
		display: flex;
		flex-direction: column;

		.close {
			flex: none;
			text-align: center;

			button {
				background-color: $colorSecondary;
				padding: 10px 40px;
				border-radius: 0 0 10px 10px;
				cursor: pointer;
			}
		}
	}
}