.wrap {
	height: 100%;
	padding: 20px 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 10px;

	.error {
		width: 100%;
		text-align: center;

		.message {
			padding-bottom: 10px;
		}
		//background-color: #F03B3B;
	}
}