.container {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.text {
	position: absolute;
	font-weight: bold;
	color: #333;
	text-align: center;

	> div:first-child {
		font-size: 1.5rem;
		margin-bottom: 10px;
	}
}

svg {
	display: block;
}

circle {
	transition: stroke-dashoffset 0.5s ease-out;
}